html, body{
    box-sizing:border-box;
    background-color: #151515;
    font-size: 18px;
    color: #6c6c6c;
    user-select: none;
    font-family: "helvetica";
}

.container{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box{
    width: 1200px;
    height: 650px;
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    align-items: center;
    border: 1px solid white;
}

ul{
    list-style: none;
    height: 360px;
    padding: 0;
    margin: 0;
}

/* proto 1 */
li{
    height: 50px;
    width: 420px;
    overflow: hidden;
}

li{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border: 1px solid transparent;
    border-image: linear-gradient(to right, #169dac, #8e5fd9);
    border-image-slice: 1;
}

input{
    border: 0;
    background-color: transparent;
    outline: 0;
    font-size: 1.3rem;
    color: #fff;
    padding: 7px 0;
}

button{
    padding: 2px;
    width: 100%;
    height: 100%;
    background-color: transparent;
    background: linear-gradient(to right, #169dac, #8e5fd9);
    font-weight: 800;
}

button:hover{
    background: linear-gradient(to right, #7164b0, #170e9b);
}
