 .input{
    box-sizing: border-box;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
  }

  #codbarras{
    width: 200px;
    box-sizing: border-box;
    font-family: inherit;
    outline: 0;
    border: 0;
    font-size: 1.3rem;
    color: #fff;
    padding: 7px 20px;
    background: transparent;
  }

  .kg , .pesos{
    width: 70px;
    height: 40px;
    box-sizing: border-box;
    font-family: inherit;
    background: transparent;
    border-radius: 6px;
    border: 1px solid #8e5fd9;
    margin-right: 10px;
    padding-left: 10px;
    color: #8e5fd9;
  }

  #codbarras::placeholder, .kg::placeholder, .pesos::placeholder {
    color: #23327e;
  }
